ollama
chromadb
pdfplumber 
langchain
langchain-core
langchain-ollama
langchain-community
langchain_text_splitters
unstructured
fastembed
pdfplumber
sentence-transformers
elevenlabs
pymupdf4llm
langchain_ollama
langchain_core
logging
langchain_community
langchain_ollama